body {
    margin:0 auto;
    position:absolute;
}

.App {
    width:100vw;
}

.shadow , .shadow-1{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2
}

.header-wrap {
    float: left;
    position: relative;
    top: 260px;
    left: 37px;
    margin-left: 113px;
}

.header {
    
    font-size:2.5em;
    margin:0;
    font-weight:1000;
    letter-spacing:9px
}

.header:hover {
    cursor:pointer;
    color:#ffffff8f;
    transition:.3s;
}

.slogan {
    margin:0;
    font-weight:1000;
    letter-spacing:3px;
    color: #fff;
    opacity: 0.8;
}



@media only screen and (max-width: 725px) {
    .header-wrap {
        margin:0;
        top: 310px;
        left:22px
    }

    .header {
        font-size:1.5rem
    }

    .slogan {
        font-size:.75rem
    }
}

.this-div, .this-div2, .this-div3 {
    min-height:400px;
}
.this-div2 {
    text-align:center;
    padding:50px 20px 20px 20px;
}

.this-div3 {
    overflow:hidden;
    padding:25px 55px
}

.subject {
    float:left;
    width:36%;
    text-align:center;
}

.content,.content-1 {
    float:right;
    width:56%
}


.content-1 {
    margin-top:25px
}
@media only screen and (max-width:650px) {
    .this-div3 * {
        display:block;
        float:unset;
        text-align:left
    }

   
    .subject {
        width:100%
    }
    
    .content {
        margin-top:75px;
        width:100%
    }

    .content-1{
        margin-top:108px;
        width:100%
    }
}


.backgrounda {
    height: 400px;
    background: url(http://www.christianaid.org.uk/sites/default/files/styles/banner_strip_full_normal_x1/public/2017-01/nigeria-crisis-appeal-banner-girls-water.jpg?itok=kjO11ou6) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    background-attachment:fixed;
    position:relative;
    overflow:hidden;
}
  .backgroundb {
    height: 400px;
      background: url(https://www.msf.org.uk/sites/uk/files/styles/general_proportion/https/media.msf.org/Docs/MSF/Media/TR1/5/6/e/a/MSF209715.jpg?itok=z8J2Wow4) no-repeat center fixed;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
     
      background-attachment:fixed;
      position:relative;
      overflow:hidden;
}

.backgroundc {
    height: 400px;
    background: url(http://news.bbcimg.co.uk/media/images/56367000/jpg/_56367240_01_mg_6463.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    background-attachment:fixed;
    position:relative;
    overflow:hidden;
}

h1 {
    margin-top:110px;
    text-align:center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:300;
    color:white;
    
}

.box-blue {
    width:320px;
    position: absolute;
    left:19%;
    text-align:left
}

.box-red {
    width:320px;
    position: absolute;
    right:19%;
    text-align:left
}

.this-div2>h2 {
    margin-top: 0;
}

@media only screen and (max-width: 725px) {
    .backgroundb,.backgroundc {
        background-size:cover;
        background-attachment:initial;
        background-position:center center;
        background-repeat:no-repeat;
        width:100%;
        display:inline-block;
        background-color:initial;
        max-height:250px

    }

    .shadow {
        display:none
    }

    .aos {
        display: none;
    }


}

@media only screen and (max-width:1100px) {
   
    .box-blue , .box-red{
        min-width: 250px;
        position:static;
        display:inline-block;
        width: 75%;
        margin: 20px auto;
    }
    
    .this-div2 {
        height:unset;
        padding: 50px 20px 50px 20px;
    }
}

@media only screen and (min-width:1600px) {
    .box-blue , .box-red{
        
        width: 75%;
        left:30%;
        width:320px;
        height:300px;
        position: absolute;
        background-color:#9c99994d;
        text-align:left
    }
}


.first {
    min-height: 275px;
}


