html, body {
    position: absolute;
}



body {
    overflow-x:hidden;
    font-family: 'Libre Franklin', sans-serif;
    color:#363333;
    font-weight: lighter;
    letter-spacing:.5px;
    line-height: 1.66;
}

#root {
    height: 100vh;
    width: 100vw;
}

